@page "{id:int}"
@model SnackisForum.Pages.CreateThreadModel
@using SnackisForum.Injects;
@inject UserProfile userProfile;
@{
    ViewData["Title"] = Model.Subforum != null ? "Nytt inlägg i " + Model.Subforum.Name : "Fel";
}

<div class="container mt-3 pb-2 rounded bg-dark text-white mb-5 w-100">
    @if (userProfile.IsLoggedIn)
    {
        <div class="h2 text-center pt-3">Nytt inlägg i @Model.Subforum.Name</div>
        <div class="h4 text-center pt-3">Postar som @userProfile.Username</div>
        <div class="w-100 flex-column d-flex justify-content-center pt-3">
            <form method="post" class="">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Thread.Parent" />
                <div class="input-group flex-nowrap w-50">
                    <input type="text" class="form-control" placeholder="Titel" 
                           aria-label="Titel" aria-describedby="addon-wrapping" asp-for="Thread.Title" required>
                </div>

                <div class="input-group flex-nowrap mt-2">

                    <textarea required class="form-control" placeholder="Text" aria-label="Inläggstext" required minlength="20" maxlength="250"
                              aria-describedby="addon-wrapping" style="height:10rem;" asp-for="Reply.Body"></textarea>
                </div>
                <div class="input-group justify-content-center mt-2">
                    <button type="submit" class="btn btn-outline-secondary btn-dark">Skicka</button>
                </div>
            </form>
        </div>
    }
    else
            {
                <div class="">
                    <div class="h1">Du behöver <span onclick="$('#dropdownmenu').children().toggleClass('show')" class="text-decoration-underline text-info noselect" style="cursor: pointer;z-index:1">logga in</span> för att göra ett inlägg</div>
                </div>
            }
    </div>