@page
@model SnackisForum.Pages.ProfileModel

@inject SnackisForum.Injects.UserProfile profile;
@{
}

<div class="container-fluid rounded bg-secondary">
    <div class="container w-75 bg-dark text-light rounded mt-3 pb-1" style="height:30rem">
        @if(profile.IsLoggedIn)
            {

        <div class="row">
            <h1 class="pt-3 ps-5">@profile.Username</h1>
        </div>
        @if (string.IsNullOrWhiteSpace(profile.ProfilePicture))
        {
            <img src="https://st4.depositphotos.com/1000507/24488/v/600/depositphotos_244889634-stock-illustration-user-profile-picture-isolate-background.jpg" class="profile-picture" />
        }
        else
        {
    <div class="d-flex justify-content-center">
        <img src="@profile.ProfilePicture" class="profile-picture-large border border-2 border-white" />
    </div>
        }
    <div class="d-flex justify-content-center">
        <form method="post" enctype="multipart/form-data" class="w-75">
            <label for="formFileLg" class="form-label">Välj profilbild</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file" asp-for="ProfilePicture" accept="image/x-png,image/gif,image/jpeg" required />
            <button type="submit" class="btn-lg btn btn-outline-secondary mt-3">Byt profilbild</button>
        </form>
    </div>

        }
        else
            {
                <h1 class="text-center pt-5">Inte inloggad!</h1>
            }
    </div>
</div>