@page "{id:int?}"
@model SnackisForum.Pages.ThreadModel
@using SnackisDB.Models;
@{ }
<script>

</script>
<div class="container-fluid h-100 px-5 text-dark bg-white">@Model.Thread.Title</div>
<div class="container-fluid h-100 px-5 text-dark bg-white">@Model.Thread.Body</div>

<div class="jstree"></div>