@page
@model SnackisForum.Pages.TreeViewModel
@{
}
@inject SnackisForum.Injects.UserProfile userProfile; 
<div class="row bg-white min-vh-100">
    <div class="jstree">

    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="exampleModalMain">

    </div>
</div>  