@page
@model SnackisForum.Pages.Admin.IndexModel
@{

    //ViewBag.IsAdmin = true;
    Layout = "_AdminLayout";
    ViewData["Title"] = "Adminpanel";
}
<div class="row" style="min-height:40rem;">
   <partial name="_AdminSidePanel" />

    <div class="col">
        <div class="fs-1">Forum
            <div class="ps-2 material-icons-outlined add-forum noselect clickable">
                control_point
            </div>
        </div>
        @foreach (var forum in Model.Forums)
        {
            <table class="table table-borderless table-hover table-striped table-dark">
                <thead class="">
                    <tr>

                        <td>
                            <div class="fs-2">@forum.Name</div>

                        </td>
                        <td class="d-flex justify-content-end">
                            <div class="ps-1 material-icons-outlined add-subforum noselect clickable" data-forum-id="@forum.ID">
                                control_point
                            </div>
                        </td>
                    </tr>
                </thead>
                @if(forum.Subforums == null || !forum.Subforums.Any())
                {
                    continue;
                }
                @foreach (var subforum in forum.Subforums)
                {
                    
                    int numberOfThreads = subforum.Threads == null || !subforum.Threads.Any() ? 0 : subforum.Threads.Count;
                    int posts = subforum.Threads == null || !subforum.Threads.Any() ? 0 : subforum.Threads.Sum(x => x.Replies.Count);
                    <tr>
                        <td class="w-50" style="min-width: 50%; max-width: 50%">
                            <div class="ps-3"><a href="@Url.Content($"~/Subforum/{subforum.ID}")">@subforum.Name</a></div>
                            <div class="ps-3 font-monospace" style="font-size:75%;">@numberOfThreads ämnen &bull; @posts inlägg</div>
                        </td>
                    </tr>

                }
            </table>

        }
    </div>
</div>
