@using Microsoft.AspNetCore.Identity;
@using SnackisDB.Models.Identity;
@using System.Threading.Tasks;

@inject UserManager<SnackisUser> userManager;
@inject SignInManager<SnackisUser> signInManager;
@inject SnackisDB.Models.SnackisContext context;
@inject SnackisForum.Injects.UserProfile profile;

@{
    bool loggedIn = signInManager.IsSignedIn(User);

    SnackisUser currentUser = loggedIn ? userManager.GetUserAsync(User).Result : null;
    int adminUsers = userManager.GetUsersInRoleAsync("Admin").Result.Count;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Snackis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script type="text/javascript" src="~/js/jstree.js"></script>
    <script type="text/javascript" src="~/js/jstree.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/themes/default/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

</head>
<body class="min-vh-100 bg-secondary">
    @Html.AntiForgeryToken()
    <header class="">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex fixed-top" style="height:3rem;">
            <div class="flex-column ps-5">
                <a class="navbar-brand" href="/">
                    <span class="material-icons-outlined px-2">
                        question_answer
                    </span>Snackis
                </a>
            </div>
            <div class="col d-flex justify-content-center noselect" style="height:100%;width:100%;z-index:5">

            </div>
            <div class="col d-flex justify-content-end noselect">
                @if (loggedIn)
                {
                    <partial name="_Messages" />
                }
                <div class="btn-group " id="dropdownmenu">
                    <span class="material-icons navbar-icon my-auto text-white dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" style="cursor: pointer">
                        account_circle
                    </span>
                    @if (!loggedIn)
                    {
                        <partial name="_RegisterModal" />
                    }
                    else
                    {
                <div class="dropdown-menu dropdown-menu-end">
                    <a href="/Profile" style="text-decoration:none;"><div class="dropdown-item">@currentUser.UserName</div></a>
                    <div class="dropdown-divider"></div>
                    @if (profile.IsAdmin)
                    {

                        <a href="/Admin/" style="text-decoration:none;"><div class="dropdown-item">Adminpanel</div></a>
                    }
                    else if (adminUsers == 0)
                    {

                        <div class="dropdown-item" id="makeadmin">Gör mig till admin!</div>

                    }
                    <a href="/TreeView" style="text-decoration:none;"><div class="dropdown-item">Träd</div></a>
                    <a href="/api" style="text-decoration:none;"><div class="dropdown-item">Api</div></a>
                    <div class="dropdown-item clickable" id="" onclick="logout()">Logga ut</div>
                </div>
                    }
                </div>
            </div>
            <div class="me-5 pe-5">

            </div>
        </nav>
    </header>

    <div class="container-fluid pt-5">
        @RenderBody()
    </div>
    <div id="footer"><partial name="_CookieConsentPartial" /></div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
